# Secrets
.env

# Nix
.direnv/
result

# Python
.ruff_cache
.ropeproject
__pycache__/
*.egg-info/
logs/

# SQLite
*.sqlite
*.sqlite-journal

# Storage
resources/*

# Autosaves
*.*~

# Helper shell script
nix-python.sh

# Editor files
.idea/*
